<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="/assets/img/arklogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/aed89df169.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            font-family: 'Poppins';
            color: white;
        }

        body {
            background-color: #121212;
            margin: 0 auto;
            padding: 0;
            display: flex;
            transition: margin-left 0.3s;
        }

        #sidebar {
            background-color: #262626;
            transition: transform 0.3s ease;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .sidebar-hidden {
            transform: translateX(-100%);
        }

        .content {
            flex: 1;
            transition: margin-left 0.3s;
            margin-left: 16rem;
            margin-bottom: 350px;
        }

        .sidebar-hidden-content {
            margin-left: 0;
        }

        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 50;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            background-color: #262626;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            border-radius: 5px;
        }

        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }
        #sidebar{
            position: fixed;
            height: 100vh;
        }
    </style>
</head>

<body onscroll="toggleSearchBar(true)">

    <div id="sidebar" class="w-65 h-screen bg-gray-800 text-white flex flex-col justify-between">
        <div>
            <div class="p-2 flex flex-col items-center justify-center border-b-[3px] border-[#F6DE03]  relative">
                <p class="flex items-center uppercase text-[#F6DE03] font-semibold"><img
                        src="/assets/img/arkvisionlogo.png" alt="" class="w-[80px] -mr-3">Ark Visions</p>
                <p class="text-[10px] absolute right-12 bottom-3">See the difference</p>
                <!-- <h1 class="text-2xl font-bold text-[#F6DE03] text-[1.7em]">Ark Vision</h1> -->
            </div>
            <nav class="">
                <a href="/ark/admin" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700 ">
                    <i class="fa-solid fa-house mr-4"></i> Dashboard
                </a>
                <a href="/ark/admin/clients" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700 ">
                    <i class="fa-solid fa-users mr-4"></i> Clients
                </a>
                <a href="/ark/admin/bookings"
                    class="block py-4 px-5 rounded transition duration-200 text-gray-800 bg-gradient-to-r from-[#F6DE03] to-[#dbe043]">
                    <i class="fa-solid fa-calendar-days mr-4 text-gray-800"></i> Bookings
                </a>
                <a href="/ark/admin/indexmanager"
                    class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700 ">
                    <i class="fa-solid fa-images mr-4"></i> Index Manager
                    <a href="/ark/admin/photo-management"
                        class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700 ">
                        <i class="fa-solid fa-image mr-4"></i> Photo Management
                    </a>
                    <a href="/ark/admin/resource"
                        class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700 ">
                        <i class="fa-solid fa-box mr-4"></i> Resource Control Center
                    </a>
                    <a href="/ark/admin/feedback"
                        class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700 ">
                        <i class="fa-solid fa-message mr-4"></i> Feedback
                    </a>
                    <a href="/ark/admin/documentation" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700">
                        <i class="fa fa-file-text mr-4"></i> Documentation
                      </a>
                      <a href="/ark/admin/manage-unavailable-dates" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700"><i class="fa-solid fa-calendar-times mr-4"></i> Manage Unavailable Dates</a>

            </nav>
        </div>
        <div>
            <a href="/ark/admin/logout" class="block py-4 px-5 rounded transition duration-200 hover:bg-red-600">
                <i class="fa-solid fa-sign-out-alt mr-2"></i> Logout
            </a>
        </div>
    </div>

    <main class="content">
        <button id="toggleSidebar" class="p-4 text-yellow-500 ml-6">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </button>


        <div class="p-5 gap-20">
            <h2 class="text-2xl font-semibold text-[#F6DE03] ml-6">
                Bookings
                <span class="text-white">
                    <%= snatch.current_search && `[ Name: ${snatch.current_search} ]` %> <%= snatch.current_status && `[ Status: ${snatch.current_status} ]` %>
                </span>
            </h2>
        </div>

        <div data-status="false" id="search-div" class="bg-gray-500 justify-center items-center  pr-4 w-fit h-[60px] flex gap-8 justify-self-end mb-11 fixed -right-[560px] top-10 rounded-lg overflow-hidden transition-all ease-in-out duration-500 z-10">
            <i onclick="toggleSearchBar()" id="search-icon" class="flex items-center bg-gray-500 hover:bg-gray-700 transition-colors border-r-4 border-r-gray-900 h-full px-4 cursor-pointer fa-solid fa-search fa-2xl"></i>

            <input onkeyup="statusHref()" class="text-black h-fit p-1" type="text" id="searchName" placeholder="client name" value="<%= snatch.current_search %>">
            
            <select onchange="statusHref();" class="text-black/50 h-fit p-1" id="statuz">
                <option class="text-black" value="" selected disabled>Status</option>
                <option class="text-black" value="">All</option>
                <option class="text-black" value="done">Done</option>
                <option class="text-black" value="accepted">Accepted</option>
                <option class="text-black" value="cancelled">Cancelled</option>
                <option class="text-black" value="rejected">Rejected</option>
                <option class="text-black" value="re-scheduled">Re-scheduled</option>
                <option class="text-black" value="pending">Pending</option>
            </select>

            <a class="flex items-center bg-emerald-700 hover:bg-emerald-900 transition-colors py-2 px-4 rounded-xl font-bold tracking-widest" 
            id="statusSearchBtn" 
            href="/ark/admin/bookings?page=<%= (snatch.current_page)%>&status=">
                Search
            </a>    
        </div>

        <div class="flex gap-10 ml-6">
            <% if(snatch.current_page >= 2) { %>
                <a class="bg-slate-500 flex gap-2 items-center p-2" href="/ark/admin/bookings?page=<%= Number(snatch.current_page) - 1  %>&status=<%= snatch.current_status %>&name=<%= snatch.current_search %>">
                    <i class="fa-solid fa-caret-left"></i> prev page
                </a>
            <% } %>
                
                <% if(snatch.current_page && snatch.total_page && snatch.bookings.length <= 15) { %>
                    <span class="flex items-center ml-6"><%= snatch.current_page %> of <%= snatch.total_page %></span>
                <% } %>

            <% if(snatch.current_page >= 0 && snatch.current_page <= snatch.total_page && snatch.bookings.length === 15) { %>
                <a class="bg-slate-500 flex gap-2 items-center p-2" href="/ark/admin/bookings?page=<%= Number(snatch.current_page) + 1  %>&status=<%= snatch.current_status %>&name=<%= snatch.current_search %>">
                    next page <i class="fa-solid fa-caret-right"></i>
                </a>
            <% }%>    
        </div>

        <div class="mt-6 m-5 ml-6 p-4">
            <% if(snatch.bookings){ %>
                <% try{ %>
                    <% 
                        let arr_users = [];

                        snatch.users.map(use => {
                            arr_users.push(use);
                        })
                    %>

                    <% snatch.bookings.map(booking => { %>
                        <% 
                            let searchContains;
                            
                            arr_users.some(use => {
                                if(use.id === booking.client_id) {
                                    searchContains = true;
                                }
                            })
                        %>
                        
                        <% if(booking.id && searchContains){ %>
                        <div data-state="closed" id="reschedule-<%= booking.id %>" style="right: -400px;"
                            class="fixed z-10 top-1/2 w-72 h-72 bg-gray-900/95 rounded-2xl border-4 border-yellow-400 transition-all flex justify-center items-center">
                            <button id="closeBtn-<%= booking.id %>" class="absolute top-2 right-2 text-white text-lg" onclick="closeModal('<%= booking.id %>')">&times;</button>
                            
                            <form action="/ark/admin/bookings/reschedule" method="post" class="flex flex-col gap-4">
                                <input type="hidden" name="id" value="<%= booking.id %>" <label
                                    class="text-l text-white font-bold" for="date">Date:</label>
                                <input required type="date"
                                    value="<%= new Date(booking.date).toISOString().split('T')[0] %>" name="date"
                                    class="text-slate-800 w-56">

                                <label class="text-l text-white font-bold" for="time">Time:</label>
                                <select class="h-7 text-black" required name="time" id="time">
                                    <option selected disabled value="<%= booking.time %>"
                                        class="bg-gray-700 text-white">
                                        <%= booking.time %>
                                    </option>
                                    <option id="options" value="8:00 AM to 9:00 AM" class="bg-[#121212] text-white">8:00
                                        AM - 9:00 AM</option>
                                    <option id="options" value="9:00 AM to 10:00 AM" class="bg-[#121212] text-white">
                                        9:00 AM - 10:00 AM</option>
                                    <option id="options" value="10:00 AM to 11:00 AM" class="bg-[#121212] text-white">
                                        10:00 AM - 11:00 AM</option>
                                    <option id="options" value="11:00 AM to 12:00 AM" class="bg-[#121212] text-white">
                                        11:00 AM - 12:00 AM</option>
                                    <option id="options" value="1:00 PM to 2:00 PM" class="bg-[#121212] text-white">1:00
                                        PM - 2:00 PM</option>
                                    <option id="options" value="2:00 PM to 3:00 PM" class="bg-[#121212] text-white">2:00
                                        PM - 3:00 PM</option>
                                    <option id="options" value="3:00 PM to 4:00 PM" class="bg-[#121212] text-white">3:00
                                        PM - 4:00 PM</option>
                                </select>

                                <button class="bg-blue-600 px-5 py-2 rounded-xl mt-5" type="submit">
                                    <p class="text-white font-bold text-lg">Re-schedule</p>
                                </button>
                            </form>
                        </div>

                        <% const date=new Date(booking.date); const day=date.getDate(); const index=date.getMonth();
                            const months=[ "January" , "February" , "March" , "April" , "May" , "June" , "July"
                            , "August" , "September" , "October" , "November" , "December" ]; %>
                            <div class="mb-20 relative border-[1px] "> <!-- table and delete btn container -->
                                <form class="absolute -top-[33px] right-[40px]" action="/ark/admin/bookings/remove"
                                    method="post">
                                    <input type="hidden" value="<%= booking.id %>" name="id">

                                    <button type="submit"
                                        onclick="return confirm('Are you sure you want to remove this booking?')"
                                        class="bg-red-500 hover:bg-red-600 -mt-[1px] font-bold text-white py-1 px-2">
                                        <i class="fa-solid fa-trash"></i> Remove Request
                                    </button>
                                </form>
                                <div class=" overflow-hidden">
                                    <!-- Yellow border container -->
                                    <table class="min-w-full ">
                                        <thead>
                                            <tr class="text-center uppercase font-regular bg-[#F6DE03] ">
                                                <th class="py-2 px-4  text-gray-800">Name</th>
                                                <th class="py-2 px-4  text-gray-800">Booking Details</th>
                                                <th class="py-2 px-4  text-gray-800">Requested Schedule</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center bg-gray-800">
                                            <% snatch.users.map(user => { %>
                                                <% if (user.id === booking.client_id) { %>
                                                    <tr>
                                                        <td class="py-2 px-4 border-b border-gray-600 font-light text-[#ffffff96]">
                                                            <%= user.fname.toUpperCase() %> <%= user.lname.toUpperCase() %>
                                                        </td>
                                                        <td class="py-2 px-4 border-b border-gray-600 whitespace-nowrap font-light text-[#ffffff96]">
                                                            <%= booking.service %>
                                                        </td>
                                                        <td class="py-2 px-4 border-b border-gray-600 font-light text-[#ffffff96]">
                                                            <%= `${months[index]} ${day} || ${booking.time}` %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="py-2 px-4 border-b border-gray-600 uppercase">Status</th>
                                                        <th class="py-2 px-4 border-b border-gray-600 uppercase">Proof of Payment</th>
                                                        <th class="py-2 px-4 border-b border-gray-600 uppercase">Addons</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="py-2 px-4 border-b border-gray-600 font-bold capitalize
                                                        <% if (booking.status === 'accepted') { %> 
                                                            <%='text-lime-400 font-semibold'%> 
                                                        <% } if (booking.status === 'done') { %> 
                                                            <%='text-amber-600 text-lg font-semibold'%>  
                                                        <% } if (booking.status === 'pending') { %> 
                                                            <%= " text-amber-500 font-semibold" %>
                                                        <% } if (booking.status === 'cancelled') { %>
                                                            <%= 'text-rose-500' %>
                                                        <% } if (booking.status === 'rejected') { %>
                                                            <%= 'text-rose-500' %>
                                                        <% } if(booking.status === "re-scheduled") { %>
                                                            <%= 'text-blue-600' %>
                                                        <% } %>
                                                        ">
                                                            <%= booking.status %>
                                                        </td>
                                                        <td class="py-2 px-4 border-b border-gray-600">
                                                            <% if (booking.receipt_uploaded === "yes") { %>
                                                                <button class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-2 rounded" id="viewPaymentBtn-<%= booking._id %>" onclick="hotdogSandwhich('<%= booking._id %>')">
                                                                    <i class="fa-solid fa-eye"></i> View
                                                                </button>
                                                            <% } else { %>
                                                                <span class="text-rose-500 font-light">None Provided</span>
                                                            <% } %>
                                                        </td>
                                                        <td class="py-2 px-4 border-b border-gray-600 grid grid-cols-3 justify-center gap-x-3">
                                                            <% if (booking.addOns.length > 0) { %>
                                                                <% booking.addOns.forEach(add => { %>
                                                                    <div class="text-white bg-gray-600 mb-2 rounded w-full flex justify-center items-center">
                                                                        <p><%= add %></p>
                                                                    </div>
                                                                <% }) %>
                                                            <% } else { %>
                                                                <div class="text-transparent mb-2 rounded w-full flex justify-center items-center">
                                                                    padpadpadpadpadpadpadpad
                                                                </div>
                                                                <div class="text-white bg-slate-600 mb-2 rounded w-full flex justify-center items-center py-3">
                                                                    <p>No Add-Ons</p>
                                                                </div>
                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                    <tr class="relative border-t-2">
                                                        <td class="py-3 px-4 border-b border-gray-600 relative text-center">
                                                            <p class="font-bold text-lg whitespace-nowrap text-[#F6DE03]">
                                                                Total Price:
                                                                <%= booking.total.replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                            </p>
                                                        </td>
                                                        <td class="py-3 px-4 border-b border-gray-600 relative text-end" colspan="2">
                                                            <% if (booking.status === "cancelled") { %>
                                                                <form class="inline-block" action="/ark/admin/bookings/accept" method="post">
                                                                    <button type="button" class="bg-cyan-700 hover:bg-cyan-600 font-bold text-white py-1 px-2 rounded" onclick="showEditBooking('<%= booking.id %>')">
                                                                        <i class="fa-solid fa-clock"></i> Re-schedule
                                                                    </button>
                                                                </form>
                                                            <% } %>
                                                            <% if (booking.status === "pending") { %>
                                                                <form class="inline-block" action="/ark/admin/bookings/accept" method="post">
                                                                    <input type="hidden" name="id" value="<%= booking.id %>">
                                                                    <button type="submit" class="w-fit bg-green-500 hover:bg-green-600 text-white py-1 px-2 rounded">
                                                                        <i class="fa-solid fa-check"></i> Accept
                                                                    </button>
                                                                </form>
                                                                <form class="inline-block" action="/ark/admin/bookings/reject" method="post">
                                                                    <input type="hidden" name="id" value="<%= booking.id %>">
                                                                    <button type="submit" class="w-fit bg-rose-500 hover:bg-rose-600 text-white py-1 px-2 rounded">
                                                                        <i class="fa-solid fa-multiply"></i> Reject
                                                                    </button>
                                                                </form>
                                                            <% } %>
                                                            <% if (booking.status === "accepted") { %>
                                                                <form class="inline-block" action="/ark/admin/bookings/done" method="post">
                                                                    <input type="hidden" value="<%= booking.id %>" name="id">
                                                                    <button type="submit" class="bg-green-600 hover:bg-green-400 font-bold text-white py-1 px-2 rounded">
                                                                        <i class="fa-solid fa-clock"></i> Done
                                                                    </button>
                                                                </form>
                                                                <button type="button" class="bg-cyan-700 hover:bg-cyan-600 font-bold text-white py-1 px-2 rounded" onclick="showEditBooking('<%= booking.id %>')">
                                                                    <i class="fa-solid fa-clock"></i> Re-schedule
                                                                </button>
                                                                <form class="inline-block" action="/ark/admin/bookings/cancel" method="post">
                                                                    <input type="hidden" name="id" value="<%= booking._id %>">
                                                                    <button onclick="return confirm('Are you sure you want to cancel this booking?')" class="w-[100px] font-bold bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded">
                                                                        <i class="fa-solid fa-times"></i> Cancel
                                                                    </button>
                                                                </form>
                                                            <% } %>
                                                            <% if (booking.status === "re-scheduled") { %>
                                                                <form class="inline-block" action="/ark/admin/bookings/done" method="post">
                                                                    <input type="hidden" value="<%= booking.id %>" name="id">
                                                                    <button type="submit" class="bg-green-600 hover:bg-green-400 font-bold text-white py-1 px-2 rounded">
                                                                        <i class="fa-solid fa-clock"></i> Done
                                                                    </button>
                                                                </form>
                                                                <button type="button" class="bg-cyan-700 hover:bg-cyan-600 font-bold text-white py-1 px-2 rounded" onclick="showEditBooking('<%= booking.id %>')">
                                                                    <i class="fa-solid fa-clock"></i> Re-schedule
                                                                </button>
                                                                <form class="inline-block" action="/ark/admin/bookings/cancel" method="post">
                                                                    <input type="hidden" name="id" value="<%= booking._id %>">
                                                                    <button onclick="return confirm('Are you sure you want to cancel this booking?')" class="w-[100px] font-bold bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded">
                                                                        <i class="fa-solid fa-times"></i> Cancel
                                                                    </button>
                                                                </form>
                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                    <% } %>
                                </div>
                            </div>
                            <% let yahoo=[]; %>

                                <% receipts.forEach(receipt=> { %>
                                    <% if(receipt.bookingId===booking.id) { %>
                                        <% yahoo.push({rec: receipt, correctOne: true}) %>
                                            <% } else {yahoo.push({rec: receipt, correctOne: false})}%>
                                                <% }); %>



                                                    <% yahoo.forEach(yah=> { %>
                                                        <% if(yah.correctOne===true){ %>
                                                            <div id="paymentModal-<%= booking.id %>" class="modal">
                                                                <div
                                                                    class="modal-content rounded-lg shadow-lg p-5 bg-gray-800 mt-10 flex flex-col items-center w-[690px]">
                                                                    <span onclick="pizzaYum('<%= booking.id %>')"
                                                                        class="text-6xl self-end close close-<% booking._id %> text-red-500 hover:text-red-700"
                                                                        style="cursor:pointer;">&times;</span>
                                                                    <h2
                                                                        class="text-4xl font-semibold text-yellow-500 mb-4 -mt-10 text-center">
                                                                        Proof of Payment</h2>

                                                                    <% let decompose=yah.rec.filepath.split("\\"); %>

                                                                        <img src="/<%= `${decompose[1]}/${decompose[2]}` %>"
                                                                            alt="Proof of Payment"
                                                                            class="w-[500px] h-[500px] object-contain rounded-lg mb-16">
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                                <% }); %>

                                                                    <% }) %> <!--endOuterMap -->
                                                                        <% } catch(err){ console.error(`Sumtin wong:
                                                                            ${err}`) } %>
                                                                            <% } %>
        </div>
    </main>

</body>

</html>

<script>
    const sidebar = document.getElementById('sidebar');
    const toggleButton = document.getElementById('toggleSidebar');
    const content = document.querySelector('.content');

    toggleButton.addEventListener('click', () => {
        sidebar.classList.toggle('sidebar-hidden');
        content.classList.toggle('sidebar-hidden-content');
    });


    function hotdogSandwhich(id) {
        const modal = document.getElementById(`paymentModal-${id}`);
        const closeButton = document.querySelector(`.close-${id}`);

        modal.style.display = "block";

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        };
    }

    function pizzaYum(id) {
        const modal = document.getElementById(`paymentModal-${id}`);

        modal.style.display = "none";
    }

    function showEditBooking(id) {
        const closeEmAll = document.querySelectorAll("div[data-state]");

        closeEmAll.forEach(yahoo => {
            if (yahoo.getAttribute("data-state") === "opened") {
                yahoo.style.right = "-400px";
                yahoo.setAttribute("data-state", "closed")
            }
        })

        const editModal = document.getElementById(`reschedule-${id}`);

        editModal.style.right = "40px";
        editModal.setAttribute("data-state", "opened")
    }
    function closeModal(id) {
        const editModal = document.getElementById(`reschedule-${id}`);
        editModal.style.right = "-400px"; 
        editModal.setAttribute("data-state", "closed"); 
    }
    function statusHref() {
        const stats = document.getElementById("statuz").value;
        const name = document.getElementById("searchName").value;

        document.getElementById("statusSearchBtn").href = `/ark/admin/bookings?status=${stats}&name=${name}`;
    }

    addEventListener("DOMContentLoaded", statusHref());

    function toggleSearchBar(scroll = false) {
        const state = document.getElementById("search-div")
        const icon = document.getElementById("search-icon");

        if (scroll) {
            state.setAttribute("data-status", "false")
            state.classList.replace("-right-[3px]", "-right-[560px]")
            icon.classList.replace("fa-multiply", "fa-search")
        
            return;
        }

        if(state.getAttribute("data-status") === "false") {
            state.setAttribute("data-status", "true")
            state.classList.replace("-right-[560px]", "-right-[3px]")
            icon.classList.replace("fa-search", "fa-multiply")
        } else if(state.getAttribute("data-status") === "true") {
            state.setAttribute("data-status", "false")
            state.classList.replace("-right-[3px]", "-right-[560px]")
            icon.classList.replace("fa-multiply", "fa-search")
        } 
    }
</script>