<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="/assets/img/arklogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/aed89df169.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            font-family: 'Poppins';
            color: white;
        }

        body {
            background-color: #121212;
            margin: 0 auto;
            padding: 0;
            display: flex;
            transition: margin-left 0.3s;
        }

        #sidebar {
            background-color: #262626;
            transition: transform 0.3s ease;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .sidebar-hidden {
            transform: translateX(-100%);
        }

        .content {
            flex: 1;
            transition: margin-left 0.3s;
            margin-left: 16rem;
        }

        .sidebar-hidden-content {
            margin-left: 0;
        }

        table th {
            font-weight: 500;
            text-transform: uppercase;
        }

        table td {
            font-weight: 200;
            color: #ffffff7d;
        }

        table button {
            text-transform: uppercase;
            font-weight: 500;
        }
        #sidebar{
            position: fixed;
            height: 100vh;
        }
    </style>
</head>

<body>

    <div id="sidebar" class="w-65 h-screen bg-gray-800 text-white flex flex-col justify-between">

        <div>
            <div class="p-2 flex flex-col items-center justify-center border-b-[3px] border-[#F6DE03]  relative">
                <p class="flex items-center uppercase text-[#F6DE03] font-semibold"><img
                        src="/assets/img/arkvisionlogo.png" alt="" class="w-[80px] -mr-3">Ark Visions</p>
                <p class="text-[10px] absolute right-12 bottom-3">See the difference</p>
                <!-- <h1 class="text-2xl font-bold text-[#F6DE03] text-[1.7em]">Ark Vision</h1> -->
            </div>
            <nav class="">
                <a href="/ark/admin" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700">
                    <i class="fa-solid fa-house mr-4"></i> Dashboard
                </a>
                <a href="/ark/admin/clients"
                    class="block py-4 px-5 rounded transition duration-200  bg-gradient-to-r from-[#F6DE03] to-[#dbe043] text-gray-800">
                    <i class="fa-solid fa-users mr-4 text-gray-800"></i> Clients
                </a>
                <a href="/ark/admin/bookings" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700">
                    <i class="fa-solid fa-calendar-days mr-4"></i> Bookings
                </a>
                <a href="/ark/admin/indexmanager"
                    class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700">
                    <i class="fa-solid fa-images mr-4"></i> Index Manager
                    <a href="/ark/admin/photo-management"
                        class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700">
                        <i class="fa-solid fa-image mr-4"></i> Photo Management
                    </a>
                    <a href="/ark/admin/resource"
                        class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700 ">
                        <i class="fa-solid fa-box mr-4"></i> Resource Control Center
                    </a>
                    <a href="/ark/admin/feedback"
                        class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700">
                        <i class="fa-solid fa-message mr-4"></i> Feedback
                    </a>
                    <a href="/ark/admin/documentation" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700">
                        <i class="fa fa-file-text mr-4"></i> Documentation
                      </a>
                    <a href="/ark/admin/manage-unavailable-dates" class="block py-4 px-5 rounded transition duration-200 hover:bg-gray-700"><i class="fa-solid fa-calendar-times mr-4 "></i> Manage Unavailable Dates</a>

            </nav>
        </div>
        <div>
            <a href="/ark/admin/logout" class="block py-4 px-5 rounded transition duration-200 hover:bg-red-600">
                <i class="fa-solid fa-sign-out-alt mr-2"></i> Logout
            </a>
        </div>
    </div>

    <main class="content">
        <button id="toggleSidebar" class="p-4 text-yellow-500 ml-6">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </button>

        <div class="p-5 ml-6">
            <h2 class="text-2xl font-semibold text-yellow-500">Clients</h2>
        </div>

        <div class="flex gap-10 ml-6">
            <% if(snatch.current_page >= 2) { %>
                <a class="bg-slate-500 flex gap-2 items-center p-2" href="/ark/admin/clients?page=<%= Number(snatch.current_page) - 1  %>&status=<%= snatch.current_status %>&name=<%= snatch.current_search %>">
                    <i class="fa-solid fa-caret-left"></i> prev page
                </a>
            <% } %>
                
                <!-- <% if(snatch.current_page && snatch.total_page && snatch.clients.length <= 15) { %> -->
                    <span class="flex items-center ml-6"><%= snatch.current_page %> of <%= snatch.total_page > snatch.current_page ? snatch.total_page - 1 : snatch.total_page %></span>
                <!-- <% } %> -->

            <% if(snatch.current_page >= 0 && snatch.current_page <= snatch.total_page && snatch.clients.length === 15) { %>
                <a class="bg-slate-500 flex gap-2 items-center p-2" href="/ark/admin/clients?page=<%= Number(snatch.current_page) + 1  %>&name=<%= snatch.current_search %>">
                    next page <i class="fa-solid fa-caret-right"></i>
                </a>
            <% }%>    
        </div>

        <div data-status="false" id="search-div" class="bg-gray-500 justify-center items-center  pr-4 w-fit h-[60px] flex gap-8 justify-self-end mb-11 fixed -right-[383px] top-10 rounded-lg overflow-hidden transition-all ease-in-out duration-500 z-10">
            <i onclick="toggleSearchBar()" id="search-icon" class="flex items-center bg-gray-500 hover:bg-gray-700 transition-colors border-r-4 border-r-gray-900 h-full px-4 cursor-pointer fa-solid fa-search fa-2xl"></i>

            <input onkeyup="statusHref()" class="text-black h-fit p-1" type="text" id="searchName" placeholder="client name" value="<%= snatch.current_search %>">
            
            <a class="flex items-center bg-emerald-700 hover:bg-emerald-900 transition-colors py-2 px-4 rounded-xl font-bold tracking-widest" 
            id="statusSearchBtn" 
            href="/ark/admin/clients?page=<%= (snatch.current_page)%>&status=">
                Search
            </a>    
        </div>

        <!-- Table Section -->
        <div class="mt-6 m-5 ml-6 p-4">
            <% if(snatch.clients) { %>
                <table class="min-w-full text-gray-300">
                    <thead>
                        <tr class="text-gray-400">
                            <th class="py-2 px-4 border-b border-[#2c2c2c] text-left">ID</th>
                            <th class="py-2 px-4 border-b border-[#2c2c2c] text-left">Full Name</th>
                            <th class="py-2 px-4 border-b border-[#2c2c2c] text-left">Email Address</th>
                            <th colspan="100" class="py-2 px-4 border-b border-[#2c2c2c] text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let yah="py-2 px-4 border-b border-[#2c2c2c] text-gray-200" ; %>

                            <% snatch.clients.map((client)=> { %>
                                <tr>
                                    <td class="<%= yah %>">
                                        <%= client._id %>
                                    </td>
                                    <td class="<%= yah %>">
                                        <%= client.fname %>
                                            <%= client.lname %>
                                    </td>
                                    <td class="<%= yah %>">
                                        <%= client.email %>
                                    </td>
                                    <td class="py-2 px-4 border-b border-[#2c2c2c] flex justify-center gap-4">
                                        <form action="/ark/admin/clients" method="post">
                                            <input type="hidden" value="<%= client._id %>" name="id">
                                            <button onclick="!confirm('Are you sure?') && event.preventDefault()"
                                                type="submit"
                                                class="bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded">
                                                <i class="fa-solid fa-trash"></i> Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                    </tbody>
                </table>
                <% } %>

        </div>
    </main>

</body>

</html>
<script>
    const sidebar = document.getElementById('sidebar');
    const toggleButton = document.getElementById('toggleSidebar');
    const content = document.querySelector('.content');

    toggleButton.addEventListener('click', () => {
        sidebar.classList.toggle('sidebar-hidden');
        content.classList.toggle('sidebar-hidden-content');
    });

    function statusHref() {
        const name = document.getElementById("searchName").value;

        document.getElementById("statusSearchBtn").href = `/ark/admin/clients?name=${name}`;
    }

    addEventListener("DOMContentLoaded", statusHref());

    function toggleSearchBar(scroll = false) {
        const state = document.getElementById("search-div")
        const icon = document.getElementById("search-icon");

        if (scroll) {
            state.setAttribute("data-status", "false")
            state.classList.replace("-right-[3px]", "-right-[383px]")
            icon.classList.replace("fa-multiply", "fa-search")
        
            return;
        }

        if(state.getAttribute("data-status") === "false") {
            state.setAttribute("data-status", "true")
            state.classList.replace("-right-[383px]", "-right-[3px]")
            icon.classList.replace("fa-search", "fa-multiply")
        } else if(state.getAttribute("data-status") === "true") {
            state.setAttribute("data-status", "false")
            state.classList.replace("-right-[3px]", "-right-[383px]")
            icon.classList.replace("fa-multiply", "fa-search")
        } 
    }
</script>